Repository hyperledger-cacti/cacti, pull requests merged in 2021-05, with the labels that each got.

#880 feat(api-server): publish API server docker image
  packages/cactus-cmd-api-server/hooks/post_push
Labels: API_Server

#892 fix(github/workflows): dependent issues job name typo
  .github/workflows/dependent-issues.yml
Labels: Developer_Experience, dependencies

#896 build: webpack ts-loader transpileOnly set to true
  webpack.dev.node.js
  webpack.dev.web.js
  webpack.prod.node.js
  webpack.prod.web.js
Labels: dependencies

#899 feat: expose besu test ledger web socket API port
  packages/cactus-test-tooling/src/main/typescript/besu/besu-test-ledger.ts
Labels: dependencies, enhancement

#933 docs(faq): port 0 binding explained
  FAQ.md
Labels: documentation

#924 docs(build-md): swap ci.sh with npm run configure
  BUILD.md
Labels: documentation

#934 docs: interactive rebase tutorial link #593
  CONTRIBUTING.md
Labels: documentation

#908 refactor(test-tooling): quorum AIO supervisord to log to stdout
  tools/docker/quorum-all-in-one/supervisord.conf
Labels: Developer_Experience, Quorum

#903 refactor(core-api): register web service method to accept socket io srv
  packages/cactus-cmd-api-server/src/main/typescript/api-server.ts
  packages/cactus-core-api/package-lock.json
  packages/cactus-core-api/package.json
  packages/cactus-core-api/src/main/typescript/plugin/web-service/i-plugin-web-service.ts
Labels: API_Server, Core_API, enhancement

#907 feat(test-tooling): quorum test ledger omit pull parameter
  packages/cactus-test-tooling/src/main/typescript/quorum/quorum-test-ledger.ts
Labels: Developer_Experience, Quorum, dependencies, enhancement

#909 feat(test-tooling): quorum AIO upgrade to Quorum v21.4.1 #900
  tools/docker/quorum-all-in-one/Dockerfile
  tools/docker/quorum-all-in-one/README.md
  tools/docker/quorum-all-in-one/genesis.json
  tools/docker/quorum-all-in-one/start-quorum.sh
Labels: Developer_Experience, Quorum, dependencies, enhancement

#930 chore(deps): upgrade to Typescript v.4.2.4
  package-lock.json
  package.json
Labels: Developer_Experience, dependencies

#906 perf(cmd-api-server): shrink API server bundle with type-only imports
  packages/cactus-cmd-api-server/src/main/typescript/api-server.ts
Labels: API_Server, Developer_Experience, dependencies, enhancement

#935 chore(deps): npx lerna-audit 2021-05-06
  examples/cactus-example-carbon-accounting-backend/package-lock.json
  examples/cactus-example-carbon-accounting-backend/package.json
  examples/cactus-example-carbon-accounting-business-logic-plugin/package.json
  examples/cactus-example-carbon-accounting-frontend/package-lock.json
  examples/cactus-example-supply-chain-business-logic-plugin/package.json
  examples/cactus-example-supply-chain-frontend/package-lock.json
  packages/cactus-cockpit/package-lock.json
  packages/cactus-plugin-keychain-vault/package-lock.json
Labels: Security, dependencies

#939 docs(faq): debugger and HTTP request serving
  FAQ.md
Labels: documentation

#922 docs(faq): internal watch failed: watch ENOSPC
  FAQ.md
Labels: documentation

#940 docs(connector-corda): added table of contents, moved monitoring section
  packages/cactus-plugin-ledger-connector-corda/README.md
Labels: Corda, documentation

#926 build(webpack): upgrade to v5.36.2
  package-lock.json
  package.json
Labels: dependencies

#902 feat(core-api): add SocketIoConnectionPathV1 constant to OpenAPI specs
  packages/cactus-core-api/src/main/json/openapi.json
  packages/cactus-core-api/src/main/typescript/generated/openapi/typescript-axios/api.ts
Labels: Core_API

#944 docs(connector-corda): how to write the simple JSON DSL #938
  packages/cactus-plugin-ledger-connector-corda/README.md
Labels: Corda, documentation

#913 refactor(core-api): get is replaced with post
  packages/cactus-plugin-consortium-manual/src/main/json/openapi.json
  packages/cactus-plugin-consortium-manual/src/main/typescript/consortium/get-consortium-jws-endpoint-v1.ts
  packages/cactus-plugin-consortium-manual/src/main/typescript/consortium/get-node-jws-endpoint-v1.ts
  packages/cactus-plugin-consortium-manual/src/main/typescript/generated/openapi/typescript-axios/api.ts
Labels: Core_API

#929 chore(deps): upgrade to Lerna version 4
  examples/cactus-example-supply-chain-backend/package-lock.json
  package-lock.json
  package.json
  packages/cactus-cmd-api-server/package-lock.json
  packages/cactus-cockpit/package-lock.json
  packages/cactus-plugin-consortium-manual/package-lock.json
  packages/cactus-test-api-client/package-lock.json
  packages/cactus-test-cmd-api-server/package-lock.json
  packages/cactus-test-plugin-consortium-manual/package-lock.json
Labels: dependencies

#920 fix(connector-besu): removed repeated check
  packages/cactus-plugin-ledger-connector-besu/src/main/typescript/plugin-ledger-connector-besu.ts
Labels: Besu

#897 feat(cmd-api-server): add Socket.IO as transport #297
  .cspell.json
  examples/cactus-example-carbon-accounting-backend/src/test/typescript/integration/admin-enroll-v1-endpoint.test.ts
  package-lock.json
  packages/cactus-cmd-api-server/package-lock.json
  packages/cactus-cmd-api-server/package.json
  packages/cactus-cmd-api-server/src/main/json/openapi.json
  packages/cactus-cmd-api-server/src/main/typescript/api-client/api-server-api-client.ts
  packages/cactus-cmd-api-server/src/main/typescript/api-server.ts
  packages/cactus-cmd-api-server/src/main/typescript/authzn/authorizer-factory.ts
  packages/cactus-cmd-api-server/src/main/typescript/authzn/i-authorization-config.ts
  packages/cactus-cmd-api-server/src/main/typescript/config/config-service.ts
  packages/cactus-cmd-api-server/src/main/typescript/generated/openapi/typescript-axios/api.ts
  packages/cactus-cmd-api-server/src/main/typescript/public-api.ts
  packages/cactus-cmd-api-server/src/main/typescript/web-services/watch-healthcheck-v1-endpoint.ts
  packages/cactus-cmd-api-server/src/test/typescript/integration/jwt-endpoint-authorization.test.ts
  packages/cactus-cmd-api-server/src/test/typescript/integration/jwt-endpoint-authz-scope-enforcement.test.ts
  packages/cactus-cmd-api-server/src/test/typescript/integration/jwt-socketio-endpoint-authorization.test.ts
  packages/cactus-cmd-api-server/src/test/typescript/integration/jwt-unprotected-endpoint-authz-ops-confirm.test.ts
  packages/cactus-cmd-api-server/src/test/typescript/integration/jwt-unprotected-endpoint-authz.test.ts
  packages/cactus-plugin-ledger-connector-fabric/src/test/typescript/integration/fabric-v2-2-x/deploy-cc-from-golang-source-private-data.test.ts
Labels: API_Server, ConnectionChain, Core_API, enhancement

#898 perf: leverage import type syntax to save on bundle size
  packages/cactus-core-api/package-lock.json
  packages/cactus-core-api/package.json
  packages/cactus-core-api/src/main/typescript/plugin/web-service/i-plugin-web-service.ts
Labels: Core_API, Performance

#910 feat(connector-quorum): support v21.4.1 and Tessera 21.1.1 #901
  packages/cactus-plugin-ledger-connector-quorum/src/test/typescript/integration/plugin-ledger-connector-quorum/deploy-contract/v2.3.0-deploy-contract-from-json.test.ts
  packages/cactus-plugin-ledger-connector-quorum/src/test/typescript/integration/plugin-ledger-connector-quorum/deploy-contract/v2.3.0-invoke-contract.test.ts
  packages/cactus-plugin-ledger-connector-quorum/src/test/typescript/integration/plugin-ledger-connector-quorum/deploy-contract/v21.4.1-deploy-contract-from-json.test.ts
  packages/cactus-plugin-ledger-connector-quorum/src/test/typescript/integration/plugin-ledger-connector-quorum/deploy-contract/v21.4.1-invoke-contract.test.ts
Labels: Quorum, enhancement

#985 feat(test-tooling): containers#logDiagnostics() utility method
  packages/cactus-test-tooling/package-lock.json
  packages/cactus-test-tooling/package.json
  packages/cactus-test-tooling/src/main/typescript/common/containers.ts
  packages/cactus-test-tooling/src/test/typescript/integration/common/containers.test.ts
Labels: Developer_Experience, dependencies, enhancement

#986 chore(test): add docker daemon diagnostic logging if a Fabric test fails
  packages/cactus-plugin-ledger-connector-fabric/src/test/typescript/integration/fabric-v1-4-x/deploy-cc-from-golang-source.test.ts
Labels: Fabric

#987 fix(cmd-api-server): drop URI type alt name from self signed TLS cert
  packages/cactus-cmd-api-server/src/main/typescript/config/self-signed-pki-generator.ts
Labels: API_Server, Security, bug

#993 ci: delete Android SDK, .NET in GitHub Action runners
  tools/ci.sh
Labels: Developer_Experience, dependencies

#994 test: container shutdown hook prior to starting
  packages/cactus-plugin-ledger-connector-corda/src/test/typescript/integration/deploy-cordapp-jars-to-nodes.test.ts
  packages/cactus-plugin-ledger-connector-corda/src/test/typescript/integration/jvm-kotlin-spring-server.test.ts
  packages/cactus-plugin-ledger-connector-fabric/src/test/typescript/integration/fabric-v1-4-x/deploy-cc-from-golang-source.test.ts
  packages/cactus-plugin-ledger-connector-fabric/src/test/typescript/integration/fabric-v1-4-x/run-transaction-endpoint-v1.test.ts
  packages/cactus-plugin-ledger-connector-fabric/src/test/typescript/integration/fabric-v2-2-x/deploy-cc-from-golang-source-private-data.test.ts
  packages/cactus-plugin-ledger-connector-fabric/src/test/typescript/integration/fabric-v2-2-x/deploy-cc-from-golang-source.test.ts
  packages/cactus-plugin-ledger-connector-fabric/src/test/typescript/integration/fabric-v2-2-x/deploy-cc-from-javascript-source.test.ts
  packages/cactus-plugin-ledger-connector-fabric/src/test/typescript/integration/fabric-v2-2-x/deploy-cc-from-typescript-source.test.ts
  packages/cactus-plugin-ledger-connector-fabric/src/test/typescript/integration/fabric-v2-2-x/run-transaction-endpoint-v1.test.ts
  packages/cactus-plugin-ledger-connector-quorum/src/test/typescript/integration/plugin-ledger-connector-quorum/deploy-contract/v2.3.0-deploy-contract-from-json.test.ts
  packages/cactus-plugin-ledger-connector-quorum/src/test/typescript/integration/plugin-ledger-connector-quorum/deploy-contract/v2.3.0-invoke-contract.test.ts
  packages/cactus-plugin-ledger-connector-quorum/src/test/typescript/integration/plugin-ledger-connector-quorum/deploy-contract/v21.4.1-deploy-contract-from-json.test.ts
  packages/cactus-plugin-ledger-connector-quorum/src/test/typescript/integration/plugin-ledger-connector-quorum/deploy-contract/v21.4.1-invoke-contract.test.ts
  packages/cactus-plugin-ledger-connector-xdai/src/test/typescript/integration/deploy-contract-from-json-xdai.test.ts
Labels: Developer_Experience
