Repository hyperledger-cacti/cacti, pull requests merged in 2021-03, with the labels that each got.

#607 fix(api-client): flaky DefaultConsortiumProvider test #605
  packages/cactus-api-client/src/test/typescript/integration/default-consortium-provider.test.ts
Labels: bug

#599 fix(cmd-api-server): config generator emits correct type
  packages/cactus-cmd-api-server/src/main/typescript/config/config-service.ts
Labels: API_Server, bug

#630 fix(tools): fabric all-in-one build cannot find rust compiler #617
  tools/docker/fabric-all-in-one/Dockerfile_v1.4.x
  tools/docker/fabric-all-in-one/Dockerfile_v2.x
  tools/docker/fabric-all-in-one/README.md
Labels: Fabric, bug

#633 fix(tools): fabric all-in-one SSH access denied #631
  tools/docker/fabric-all-in-one/Dockerfile_v1.4.x
  tools/docker/fabric-all-in-one/Dockerfile_v2.x
  tools/docker/fabric-all-in-one/README.md
Labels: Fabric, bug, dependencies

#652 fix(fabric): issue with multiple objects of prometheus metrics
  packages/cactus-plugin-ledger-connector-fabric/src/main/typescript/prometheus-exporter/prometheus-exporter.ts
Labels: Fabric, bug

#644 fix(tools): fabric AIO image log access in CI #643
  packages/cactus-test-tooling/src/main/typescript/fabric/fabric-test-ledger-v1.ts
  tools/docker/fabric-all-in-one/supervisord.conf
Labels: bug, dependencies

#655 feat(corda-connector): list flows endpoint #624
  packages/cactus-plugin-ledger-connector-corda/src/main-server/kotlin/gen/kotlin-spring/.openapi-generator/FILES
  packages/cactus-plugin-ledger-connector-corda/src/main-server/kotlin/gen/kotlin-spring/src/main/kotlin/org/hyperledger/cactus/plugin/ledger/connector/corda/server/api/ApiPluginLedgerConnectorCorda.kt
  packages/cactus-plugin-ledger-connector-corda/src/main-server/kotlin/gen/kotlin-spring/src/main/kotlin/org/hyperledger/cactus/plugin/ledger/connector/corda/server/api/ApiPluginLedgerConnectorCordaService.kt
  packages/cactus-plugin-ledger-connector-corda/src/main-server/kotlin/gen/kotlin-spring/src/main/kotlin/org/hyperledger/cactus/plugin/ledger/connector/corda/server/impl/ApiPluginLedgerConnectorCordaServiceImpl.kt
  packages/cactus-plugin-ledger-connector-corda/src/main-server/kotlin/gen/kotlin-spring/src/main/kotlin/org/hyperledger/cactus/plugin/ledger/connector/corda/server/model/ListFlowsV1Request.kt
  packages/cactus-plugin-ledger-connector-corda/src/main-server/kotlin/gen/kotlin-spring/src/main/kotlin/org/hyperledger/cactus/plugin/ledger/connector/corda/server/model/ListFlowsV1Response.kt
  packages/cactus-plugin-ledger-connector-corda/src/main/json/openapi.json
  packages/cactus-plugin-ledger-connector-corda/src/main/typescript/generated/openapi/typescript-axios/api.ts
  packages/cactus-plugin-ledger-connector-corda/src/test/typescript/integration/jvm-kotlin-spring-server.test.ts
Labels: Corda, enhancement

#651 feat(connector-fabric): signing credentials for fabric
  packages/cactus-plugin-ledger-connector-fabric/src/main/json/openapi.json
  packages/cactus-plugin-ledger-connector-fabric/src/main/typescript/generated/openapi/typescript-axios/api.ts
  packages/cactus-plugin-ledger-connector-fabric/src/main/typescript/plugin-ledger-connector-fabric.ts
  packages/cactus-plugin-ledger-connector-fabric/src/test/typescript/integration/deploy-contract-go-bin-endpoint-v1/deploy-contract/deploy-cc-from-golang-source.test.ts
  packages/cactus-plugin-ledger-connector-fabric/src/test/typescript/integration/fabric-v1-4-x/run-transaction-endpoint-v1.test.ts
  packages/cactus-plugin-ledger-connector-fabric/src/test/typescript/integration/fabric-v2-2-x/run-transaction-endpoint-v1.test.ts
Labels: Fabric, enhancement

#695 feat(test-tooling): pruneDockerResources() observability #694
  packages/cactus-test-tooling/src/main/typescript/common/containers.ts
  packages/cactus-test-tooling/src/main/typescript/public-api.ts
Labels: Developer_Experience, documentation, enhancement

#657 feat(corda-connector): node diagnostics endpoint #623
  packages/cactus-plugin-ledger-connector-corda/README.md
  packages/cactus-plugin-ledger-connector-corda/src/main-server/kotlin/gen/kotlin-spring/.openapi-generator/FILES
  packages/cactus-plugin-ledger-connector-corda/src/main-server/kotlin/gen/kotlin-spring/src/main/kotlin/org/hyperledger/cactus/plugin/ledger/connector/corda/server/api/ApiPluginLedgerConnectorCorda.kt
  packages/cactus-plugin-ledger-connector-corda/src/main-server/kotlin/gen/kotlin-spring/src/main/kotlin/org/hyperledger/cactus/plugin/ledger/connector/corda/server/api/ApiPluginLedgerConnectorCordaService.kt
  packages/cactus-plugin-ledger-connector-corda/src/main-server/kotlin/gen/kotlin-spring/src/main/kotlin/org/hyperledger/cactus/plugin/ledger/connector/corda/server/impl/ApiPluginLedgerConnectorCordaServiceImpl.kt
  packages/cactus-plugin-ledger-connector-corda/src/main-server/kotlin/gen/kotlin-spring/src/main/kotlin/org/hyperledger/cactus/plugin/ledger/connector/corda/server/model/CordappInfo.kt
  packages/cactus-plugin-ledger-connector-corda/src/main-server/kotlin/gen/kotlin-spring/src/main/kotlin/org/hyperledger/cactus/plugin/ledger/connector/corda/server/model/DiagnoseNodeV1Request.kt
  packages/cactus-plugin-ledger-connector-corda/src/main-server/kotlin/gen/kotlin-spring/src/main/kotlin/org/hyperledger/cactus/plugin/ledger/connector/corda/server/model/DiagnoseNodeV1Response.kt
  packages/cactus-plugin-ledger-connector-corda/src/main-server/kotlin/gen/kotlin-spring/src/main/kotlin/org/hyperledger/cactus/plugin/ledger/connector/corda/server/model/NodeDiagnosticInfo.kt
  packages/cactus-plugin-ledger-connector-corda/src/main-server/kotlin/gen/kotlin-spring/src/main/kotlin/org/hyperledger/cactus/plugin/ledger/connector/corda/server/model/SHA256.kt
  packages/cactus-plugin-ledger-connector-corda/src/main/json/openapi.json
  packages/cactus-plugin-ledger-connector-corda/src/main/typescript/generated/openapi/typescript-axios/api.ts
  packages/cactus-plugin-ledger-connector-corda/src/test/typescript/integration/jvm-kotlin-spring-server.test.ts
Labels: Corda, enhancement

#712 fix: repo-linter error - missing code of conduct file #711
  CODE_OF_CONDUCT.md
Labels: bug, documentation

#687 chore(connector-corda): fix typo in test assertion
  packages/cactus-plugin-ledger-connector-corda/src/test/typescript/integration/jvm-kotlin-spring-server.test.ts
Labels: Corda

#688 feat(test-tooling): add corda AIO emitContainerLogs option
  packages/cactus-plugin-ledger-connector-corda/src/test/typescript/integration/jvm-kotlin-spring-server.test.ts
  packages/cactus-test-tooling/src/main/typescript/corda/corda-test-ledger.ts
Labels: Corda

#693 feat(tools): corda AIO start/stop per node #686
  tools/docker/corda-all-in-one/Dockerfile
  tools/docker/corda-all-in-one/run-corda-network.sh
  tools/docker/corda-all-in-one/run-notary-node.sh
  tools/docker/corda-all-in-one/run-party-a-node.sh
  tools/docker/corda-all-in-one/run-party-b-node.sh
  tools/docker/corda-all-in-one/run-party-c-node.sh
  tools/docker/corda-all-in-one/supervisord.conf
Labels: Corda

#700 fix(common): servers#startOnPreferredPort no graceful fallback #683
  packages/cactus-common/src/main/typescript/servers.ts
  packages/cactus-common/src/test/typescript/unit/servers.test.ts
Labels: bug

#701 feat(connector-besu): request param: wait for ledger tx receipt #685
  packages/cactus-plugin-ledger-connector-besu/src/main/json/openapi.json
  packages/cactus-plugin-ledger-connector-besu/src/main/typescript/generated/openapi/typescript-axios/api.ts
  packages/cactus-plugin-ledger-connector-besu/src/main/typescript/plugin-ledger-connector-besu.ts
  packages/cactus-plugin-ledger-connector-besu/src/test/typescript/integration/plugin-ledger-connector-besu/deploy-contract/deploy-contract-from-json.test.ts
  packages/cactus-plugin-ledger-connector-besu/src/test/typescript/integration/plugin-ledger-connector-besu/deploy-contract/invoke-contract-v2.test.ts
Labels: Besu, enhancement

#722 docs(cmd-api-server): finish writing the readme file #341
  packages/cactus-cmd-api-server/README.md
Labels: API_Server, documentation, enhancement

#725 feat(corda-connector): params factory pattern support #620
  packages/cactus-plugin-ledger-connector-corda/src/main-server/kotlin/gen/kotlin-spring/src/main/kotlin/org/hyperledger/cactus/plugin/ledger/connector/corda/server/impl/ApiPluginLedgerConnectorCordaServiceImpl.kt
  packages/cactus-plugin-ledger-connector-corda/src/main-server/kotlin/gen/kotlin-spring/src/main/kotlin/org/hyperledger/cactus/plugin/ledger/connector/corda/server/impl/JsonJvmObjectDeserializer.kt
  packages/cactus-plugin-ledger-connector-corda/src/main-server/kotlin/gen/kotlin-spring/src/main/kotlin/org/hyperledger/cactus/plugin/ledger/connector/corda/server/impl/NodeRPCConnection.kt
  packages/cactus-plugin-ledger-connector-corda/src/main-server/kotlin/gen/kotlin-spring/src/main/kotlin/org/hyperledger/cactus/plugin/ledger/connector/corda/server/model/DeployContractJarsV1Request.kt
  packages/cactus-plugin-ledger-connector-corda/src/main-server/kotlin/gen/kotlin-spring/src/main/kotlin/org/hyperledger/cactus/plugin/ledger/connector/corda/server/model/JvmType.kt
  packages/cactus-plugin-ledger-connector-corda/src/main-server/start-app.sh
  packages/cactus-plugin-ledger-connector-corda/src/main/json/openapi.json
  packages/cactus-plugin-ledger-connector-corda/src/main/typescript/generated/openapi/typescript-axios/api.ts
  packages/cactus-plugin-ledger-connector-corda/src/test/typescript/integration/deploy-cordapp-jars-to-nodes.test.ts
  packages/cactus-plugin-ledger-connector-corda/src/test/typescript/integration/jvm-kotlin-spring-server.test.ts
  packages/cactus-test-tooling/src/main/typescript/corda-connector/corda-connector-container.ts
Labels: Corda, enhancement

#674 fix(tools): prod build fail due to missing dependency ngo #673
  packages/cactus-plugin-ledger-connector-fabric/package-lock.json
  packages/cactus-plugin-ledger-connector-fabric/package.json
Labels: bug

#723 fix(tools): ci.sh wsl2 lsmem does not support memory blocks #556
  tools/ci.sh
Labels: bug, dependencies

#715 ci: use tools/ci.sh in Github Actions #497
  .github/workflows/ci.yml
  tools/ci.sh
Labels: bug
