Repository hyperledger-cacti/cacti, changes with the owners that CODEOWNERS names for each.
All owners: @izuru0, @jagpreetsinghsasan, @outSH, @petermetz, @sandeepnRES, @takeutak, @vramakrishna, @RafaelAPB

CODEOWNERS:

* @izuru0 
* @jagpreetsinghsasan 
* @outSH
* @petermetz 
* @sandeepnRES 
* @takeutak 
* @vramakrishna 

packages/cactus-plugin-satp-hermes @RafaelAPB
packages/cactus-plugin-bungee-hermes @RafaelAPB
examples/cactus-example-cbdc-bridging @RafaelAPB
examples/cactus-example-cbdc-bridging-backend @RafaelAPB
examples/cactus-example-cbdc-bridging-frontend @RafaelAPB

fixup(satp-hermes): remove test protos and endpoints
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-handlers/client/stage1-client-handler.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-handlers/client/stage2-client-handler.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-handlers/client/stage3-client-handler.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-handlers/server/stage1-server-handler.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-handlers/server/stage2-server-handler.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-handlers/server/stage3-server-handler.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/generated/openapi-blo/typescript-axios-json/.gitignore
  packages/cactus-plugin-satp-hermes/src/main/typescript/generated/openapi-blo/typescript-axios-json/.npmignore
  packages/cactus-plugin-satp-hermes/src/main/typescript/generated/openapi-blo/typescript-axios-json/.openapi-generator-ignore
  packages/cactus-plugin-satp-hermes/src/main/typescript/generated/openapi-blo/typescript-axios-json/.openapi-generator/FILES
  packages/cactus-plugin-satp-hermes/src/main/typescript/generated/openapi-blo/typescript-axios-json/.openapi-generator/VERSION
  packages/cactus-plugin-satp-hermes/src/main/typescript/generated/openapi-blo/typescript-axios-json/api.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/generated/openapi-blo/typescript-axios-json/base.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/generated/openapi-blo/typescript-axios-json/common.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/generated/openapi-blo/typescript-axios-json/configuration.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/generated/openapi-blo/typescript-axios-json/git_push.sh
  packages/cactus-plugin-satp-hermes/src/main/typescript/generated/openapi-blo/typescript-axios-json/index.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/generated/proto/cacti/satp/v02/common/common_messages_pb.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/generated/proto/test/message_connect.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/generated/proto/test/message_pb.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/web-services/router.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/web-services/test/test.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/web-services/test/test2.ts
Owners: @RafaelAPB

feat(satp-hermes): gRPC services draft implementation
  packages/cactus-plugin-satp-hermes/src/main/proto/cacti/satp/v02/common/session.proto
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/dispatcher.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/session-utils.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-handlers/client/stage1-client-handler.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-handlers/client/stage2-client-handler.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-handlers/client/stage3-client-handler.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-handlers/server/stage1-server-handler.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-handlers/server/stage2-server-handler.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-handlers/server/stage3-server-handler.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-services/stage1-service.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-services/stage2-service.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-services/stage3-service.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/gateway-utils.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/generated/openapi-blo/typescript-axios/.openapi-generator/FILES
  packages/cactus-plugin-satp-hermes/src/main/typescript/generated/proto/cacti/satp/v02/common/session_pb.ts
Owners: @RafaelAPB

fixup(satp-hermes): add skeleton for satp-bridge
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-services/satp-bridge/satp-bridge-manager.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-services/satp-bridge/satp-lock.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-services/satp-bridge/satp-unlock.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/gateway-refactor.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/types/blockchain-interaction.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/web-services/router.ts
Owners: @RafaelAPB

fix(satp-hermes): fix knex path for old gateway tests
  packages/cactus-plugin-satp-hermes/src/main/typescript/repository/knex-local-log-repository.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/repository/knex-remote-log-repository.ts
Owners: @RafaelAPB

fixup!: wip gateway refactoring
  packages/cactus-plugin-satp-hermes/src/main/go/generated/gateway-client/.openapi-generator/FILES
  packages/cactus-plugin-satp-hermes/src/main/proto/cacti/satp/v02/common/health.proto
  packages/cactus-plugin-satp-hermes/src/main/proto/cacti/satp/v02/stage_1.proto
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/dispatcher.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/satp-session.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-handlers/stage1-handler.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-handlers/stage2-handler.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-handlers/stage3-handler.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-services/client/stage1-client-service.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-services/client/stage2-client-service.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-services/client/stage3-client-service.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-services/server/stage1-server-service.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-services/server/stage2-server-service.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-services/server/stage3-server-service.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/types.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/gateway-refactor.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/gateway-utils.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/generated/proto/cacti/satp/v02/common/health_connect.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/generated/proto/cacti/satp/v02/common/health_pb.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/generated/proto/cacti/satp/v02/stage_1_connect.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/generated/proto/cacti/satp/v02/stage_1_pb.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/gol/gateway-orchestrator.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/gol/protocol-manager/protocol-manager-builder.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/gol/protocol-manager/satp-manager.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/network-identification/chainid-list.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/network-identification/resolve-gateway.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/types/satp-protocol.ts
  packages/cactus-plugin-satp-hermes/src/test/typescript/integration/gateway-coordinator-init.test.ts
Owners: @RafaelAPB

feat(satp-hermes): update protos and services
  packages/cactus-plugin-satp-hermes/src/main/proto/cacti/satp/v02/common/session.proto
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/dispatcher.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/session-utils.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-handlers/stage0.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-handlers/stage1-handler.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-handlers/stage2-handler.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-handlers/stage3-handler.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-services/client/stage1-client-service.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-services/client/stage2-client-service.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-services/client/stage3-client-service.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-services/satp-bridge/satp-bridge-manager.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-services/satp-bridge/satp-lock.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-services/satp-bridge/satp-unlock.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-services/server/stage1-server-service.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-services/server/stage2-server-service.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-services/server/stage3-server-service.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/gateway-refactor.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/generated/proto/cacti/satp/v02/common/session_pb.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/plugin-satp-gateway.ts
Owners: @RafaelAPB

fixup!: rename new implementation, add new public api for plugin
  packages/cactus-plugin-satp-hermes/package.json
  packages/cactus-plugin-satp-hermes/src/main/json/openapi-gateway-bundled.json
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-handlers/stage1-handler.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-handlers/stage2-handler.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-handlers/stage3-handler.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-services/client/stage1-client-service.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-services/client/stage2-client-service.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-services/client/stage3-client-service.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-services/server/stage1-server-service.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-services/server/stage2-server-service.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-services/server/stage3-server-service.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/factory/plugin-factory-gateway-orchestrator.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/gateway-utils.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/generated/openapi/typescript-axios/.openapi-generator/FILES
  packages/cactus-plugin-satp-hermes/src/main/typescript/generated/openapi/typescript-axios/.openapi-generator/VERSION
  packages/cactus-plugin-satp-hermes/src/main/typescript/generated/openapi/typescript-axios/api.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/generated/openapi/typescript-axios/base.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/generated/openapi/typescript-axios/common.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/generated/openapi/typescript-axios/configuration.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/generated/openapi/typescript-axios/index.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/gol/protocol-manager/satp-manager.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/plugin-satp-hermes-gateway.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/public-api.ts
  packages/cactus-plugin-satp-hermes/src/main/yml/openapi.yml
  packages/cactus-plugin-satp-hermes/src/test/typescript/integration/gateway-blo-get-status.test.ts
  packages/cactus-plugin-satp-hermes/src/test/typescript/integration/gateway-coordinator-init.test.ts
  packages/cactus-plugin-satp-hermes/src/test/typescript/integration/gateway-init-startup.test.ts
Owners: @RafaelAPB

fix: refactor services and handlers
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/errors.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/satp-session.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-handlers/stage1-handler.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-services/client/stage1-client-service.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-services/client/stage2-client-service.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-services/client/stage3-client-service.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-services/server/stage1-server-service.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-services/server/stage2-server-service.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-services/server/stage3-server-service.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/gol/protocol-manager/satp-manager.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/types/satp-protocol.ts
Owners: @RafaelAPB

feat(bungee-hermes): viewProof & ethereum strategy
  packages/cactus-plugin-bungee-hermes/README.md
Owners: @RafaelAPB

fix: eslint all
  packages/cactus-plugin-keychain-aws-sm/docs/architecture/get-keychain-entry-endpoint.puml
  packages/cactus-plugin-satp-hermes/docs/initialization-standalone-plugin.puml
  packages/cactus-plugin-satp-hermes/package.json
  packages/cactus-plugin-satp-hermes/src/main/typescript/blo/admin/get-audit-handler-service.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/blo/admin/get-status-handler-service.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/blo/dispatcher.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/blo/transaction/cancel-handler-service.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/blo/transaction/routes-handler-service.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/errors.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/satp-session.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-handlers/stage1-handler.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-handlers/stage2-handler.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-handlers/stage3-handler.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-services/client/stage1-client-service.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-services/client/stage2-client-service.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-services/client/stage3-client-service.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-services/satp-bridge/satp-bridge-manager.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-services/satp-service.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-services/server/stage1-server-service.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-services/server/stage2-server-service.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-services/server/stage3-server-service.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/types.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/factory/plugin-factory-satp-hermes-bridge-manager.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/gateway-utils.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/gol/gateway-orchestrator.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/gol/protocol-manager/protocol-manager-builder.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/gol/protocol-manager/satp-manager.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/gol/satp-manager.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/network-identification/chainid-list.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/network-identification/resolve-gateway.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/plugin-satp-hermes-gateway.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/public-api.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/types/satp-protocol.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/web-services/router.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/web-services/stage-0/dummy-step.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/web-services/stage-0/identity-verification.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/web-services/status-endpoint.ts
  packages/cactus-plugin-satp-hermes/src/test/typescript/integration/gateway-blo-get-status.test.ts
  packages/cactus-plugin-satp-hermes/src/test/typescript/integration/gateway-init-startup.test.ts
Owners: @vramakrishna, @RafaelAPB

chore(satp-hermes): rebase with cacti main
  packages/cactus-plugin-satp-hermes/package.json
  yarn.lock
Owners: @RafaelAPB, @vramakrishna

feat(satp-hermes): satp development continuation and implementation satp protocol (#3397)
  packages/cacti-plugin-weaver-driver-fabric/package.json
  packages/cactus-plugin-satp-hermes/package.json
  packages/cactus-plugin-satp-hermes/src/main/proto/cacti/satp/v02/common/message.proto
  packages/cactus-plugin-satp-hermes/src/main/proto/cacti/satp/v02/common/session.proto
  packages/cactus-plugin-satp-hermes/src/main/proto/cacti/satp/v02/stage_1.proto
  packages/cactus-plugin-satp-hermes/src/main/proto/cacti/satp/v02/stage_2.proto
  packages/cactus-plugin-satp-hermes/src/main/proto/cacti/satp/v02/stage_3.proto
  packages/cactus-plugin-satp-hermes/src/main/typescript/blo/dispatcher.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/sender-satp-protocol.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-handlers/stage1-handler.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-handlers/stage2-handler.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-handlers/stage3-handler.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-services/client/stage1-client-service.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-services/client/stage2-client-service.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-services/client/stage3-client-service.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-services/satp-bridge/satp-bridge-manager.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-services/satp-service.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-services/server/stage1-server-service.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-services/server/stage2-server-service.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/stage-services/server/stage3-server-service.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/core/types.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/factory/plugin-factory-satp-hermes-bridge-manager.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/generated/proto/cacti/satp/v02/common/message_pb.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/generated/proto/cacti/satp/v02/common/session_pb.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/generated/proto/cacti/satp/v02/stage_1_pb.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/generated/proto/cacti/satp/v02/stage_2_pb.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/generated/proto/cacti/satp/v02/stage_3_pb.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/gol/satp-bridges-manager.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/gol/satp-manager.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/plugin-satp-hermes-gateway.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/types/blockchain-interaction.ts
  packages/cactus-plugin-satp-hermes/src/main/typescript/types/satp-protocol.ts
  yarn.lock
Owners: @vramakrishna, @RafaelAPB

fix(satp-hermes): added generated code (#3443)
  packages/cactus-plugin-satp-hermes/foundry.toml
  packages/cactus-plugin-satp-hermes/src/main/typescript/generated/SATPWrapperContract.ts
  packages/cactus-plugin-satp-hermes/src/solidity/generated/Context.sol/Context.json
  packages/cactus-plugin-satp-hermes/src/solidity/generated/ITraceableContract.sol/ITraceableContract.json
  packages/cactus-plugin-satp-hermes/src/solidity/generated/Math.sol/Math.json
  packages/cactus-plugin-satp-hermes/src/solidity/generated/Ownable.sol/Ownable.json
  packages/cactus-plugin-satp-hermes/src/solidity/generated/SignedMath.sol/SignedMath.json
  packages/cactus-plugin-satp-hermes/src/solidity/generated/Strings.sol/Strings.json
  packages/cactus-plugin-satp-hermes/src/solidity/generated/build-info/08aaa4179bf88c82656a7f352889f726.json
  packages/cactus-plugin-satp-hermes/src/solidity/generated/build-info/974845d0475a59734bc898d56133545f.json
  packages/cactus-plugin-satp-hermes/src/solidity/generated/satp-wrapper-without-json.sol/SATPWrapperContract.json
  packages/cactus-plugin-satp-hermes/src/solidity/generated/satp-wrapper.sol/SATPWrapperContract.json
  packages/cactus-plugin-satp-hermes/src/test/solidity/generated/AccessControl.sol/AccessControl.json
  packages/cactus-plugin-satp-hermes/src/test/solidity/generated/Context.sol/Context.json
  packages/cactus-plugin-satp-hermes/src/test/solidity/generated/ERC165.sol/ERC165.json
  packages/cactus-plugin-satp-hermes/src/test/solidity/generated/ERC20.sol/ERC20.json
  packages/cactus-plugin-satp-hermes/src/test/solidity/generated/IAccessControl.sol/IAccessControl.json
  packages/cactus-plugin-satp-hermes/src/test/solidity/generated/IERC165.sol/IERC165.json
  packages/cactus-plugin-satp-hermes/src/test/solidity/generated/IERC20.sol/IERC20.json
  packages/cactus-plugin-satp-hermes/src/test/solidity/generated/IERC20Metadata.sol/IERC20Metadata.json
  packages/cactus-plugin-satp-hermes/src/test/solidity/generated/ITraceableContract.sol/ITraceableContract.json
  packages/cactus-plugin-satp-hermes/src/test/solidity/generated/Math.sol/Math.json
  packages/cactus-plugin-satp-hermes/src/test/solidity/generated/SignedMath.sol/SignedMath.json
  packages/cactus-plugin-satp-hermes/src/test/solidity/generated/Strings.sol/Strings.json
  packages/cactus-plugin-satp-hermes/src/test/solidity/generated/build-info/707a9b7be39daaaf674e343568be37c1.json
  packages/cactus-plugin-satp-hermes/src/test/solidity/generated/build-info/84d52643d45e1addd104736585542010.json
  packages/cactus-plugin-satp-hermes/src/test/solidity/generated/draft-IERC6093.sol/IERC1155Errors.json
  packages/cactus-plugin-satp-hermes/src/test/solidity/generated/draft-IERC6093.sol/IERC20Errors.json
  packages/cactus-plugin-satp-hermes/src/test/solidity/generated/draft-IERC6093.sol/IERC721Errors.json
  packages/cactus-plugin-satp-hermes/src/test/solidity/generated/satp-contract-interface.sol/SATPContractInterface.json
  packages/cactus-plugin-satp-hermes/src/test/solidity/generated/satp-erc20.sol/SATPContract.json
Owners: @RafaelAPB

fix(satp-hermes): run sequencial instead of paralel (#3445)
  packages/cactus-plugin-satp-hermes/package.json
  yarn.lock
Owners: @RafaelAPB, @vramakrishna
